<div class="about-container">
    <h2 class="mat-display-2">I am an aspiring front-end developer</h2>
    <p style="padding-bottom: 20px;">My passion revolves around developing responsive web design with good UI and UX. I am based in Kuala Lumpur, Malaysia.
    </p>
    <mat-tab-group dynamicHeight [color]="'warn'">
        <mat-tab label="Experience">
            <div class="mat-elevation-z4">
                test
            </div>
        </mat-tab>
        <mat-tab label="Education">
            <div class="mat-elevation-z4">
                test
            </div>
        </mat-tab>
    </mat-tab-group>
</div>