<div class="about-container">
    <h2 class="mat-display-2" style="text-align: center;">I am an aspiring front-end developer</h2>
    <p style="padding-bottom: 20px;">My passion revolves around developing responsive web design with good UI and UX designs. I am based in Kuala Lumpur, the heart of Malaysia truly asia.
    </p>
    <mat-tab-group mat-stretch-tabs dynamicHeight [color]="'warn'">
        <mat-tab label="Experiences">
            <div class="mat-elevation-z4">
                <div class="resume-container">
                    <div class="resume-item-title">
                        <span class="mat-body-2"><fa-icon [icon]="faBriefcase"></fa-icon> Mar 2021-Present</span>
                        <span class="mat-small">Etiqa Digital Solutions, Etiqa Insurance and Takaful</span>
                        <span class="mat-small">Kuala Lumpur, Malaysia</span>
                    </div>
                    <div class="resume-item-details">
                        <span class="mat-body-2">Contract Executive Programmer</span>
                        <span class="mat-body-1" style="text-align: left;">Front-end developer specializing in Angular</span>
                    </div>
                </div>
                <div class="resume-container">
                    <div class="resume-item-title">
                        <span class="mat-body-2"><fa-icon [icon]="faBriefcase"></fa-icon> Aug 2020-Jan 2021</span>
                        <span class="mat-small">Etiqa Digital Solutions, Etiqa Insurance and Takaful</span>
                        <span class="mat-small">Kuala Lumpur, Malaysia</span>
                    </div>
                    <div class="resume-item-details">
                        <span class="mat-body-2">Project Management Intern</span>
                        <span class="mat-body-1" style="text-align: left;">Responsible in assisting project manager in preparing software documentations such as BFSD, TSD and numerous UML diagrams.</span>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Education">
            <div class="mat-elevation-z4">
                <div class="resume-container">
                    <div class="resume-item-title">
                        <span class="mat-body-2"><fa-icon [icon]="faSchool"></fa-icon> Bachelor's Degree in Computer Science</span>
                        <span class="mat-small">Management and Science University, Shah Alam, Malaysia</span>
                    </div>
                    <div class="resume-item-details">
                        <span class="mat-body-2">Jul 2017-Jan 2021</span>
                        <span class="mat-body-1" style="text-align: left;">CGPA: 3.95</span>
                    </div>
                </div>
                <div class="resume-container">
                    <div class="resume-item-title">
                        <span class="mat-body-2"><fa-icon [icon]="faSchool"></fa-icon> Diploma in Computer Applied Technology</span>
                        <span class="mat-small">Wuxi Institute of Technology, Wuxi, China</span>
                    </div>
                    <div class="resume-item-details">
                        <span class="mat-body-2">Sept 2017-May 2019</span>
                        <span class="mat-body-1" style="text-align: left;">CGPA: 4.40</span>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <h2 class="mat-display-1" style="padding-top: 20px; color: #F06292" >Skillset</h2>
    <h3 class="mat-h4" style="margin-top: -40px;">Industry Skills</h3>
    <mat-chip-list fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-chip color="primary" selected >HTML</mat-chip>
            <mat-chip color="primary" selected>CSS/Sass</mat-chip>
            <mat-chip color="primary" selected>Javascript</mat-chip>
            <mat-chip color="primary" selected>Angular</mat-chip>
            <mat-chip color="primary" selected>Git</mat-chip>
        </div>
    </mat-chip-list>
    <h3 class="mat-h4" style="margin-top: 40px;">Soft Skills</h3>
    <mat-chip-list fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-chip color="primary" selected >Teamwork</mat-chip>
            <mat-chip color="primary" selected>Presentation</mat-chip>
            <mat-chip color="primary" selected>Organization</mat-chip>
            <mat-chip color="primary" selected>Communication</mat-chip>
            <mat-chip color="primary" selected>Time Management</mat-chip>
        </div>
    </mat-chip-list>
    <h3 class="mat-h4" style="margin-top: 40px;">Language</h3>
    <mat-chip-list fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-chip color="primary" selected >Malay (Proficient)</mat-chip>
            <mat-chip color="primary" selected>English (Proficient)</mat-chip>
            <mat-chip color="primary" selected>Mandarin (Beginner)</mat-chip>
        </div>
    </mat-chip-list>
</div>
<mat-divider></mat-divider>