<div class="contact-container">
    <h2 class="mat-display-1" style="padding-top: 20px; color: #F06292; text-align: center;" >Contact Me</h2>
    <p style="text-align: center; margin-top: -40px;">If you are interested in my work, feel free to reach out to me at<a mat-button color="warn" href="mailto: aadinashahira@gmail.com">aadinashahira@gmail.com</a></p>
    <p class="mat-body-2">Get in touch with me at:</p>
    <div style="margin-left: -20px;">
        <a mat-button color="warn" href="https://www.linkedin.com/in/nuradinashahira/"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
        <a mat-button color="warn" href="https://github.com/adinashahira"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a mat-button color="warn" href="https://twitter.com/adglory_"><fa-icon [icon]="faTwitter"></fa-icon></a>
    </div>
</div>