<h2 class="mat-display-1" style="padding-top: 20px; color: #F06292; text-align: center;" >Portfolio</h2>
<p style="text-align: center; margin: 30px; margin-top: -50px;">(I am a full-time programmer at Etiqa thus most of the projects displayed in this portfolio will most probably not come from commissions/freelancing but rather my own incentive by creating websites inspired by what I see online.)</p>
<div class="portfolio-container">
    <mat-card>
        <mat-card-header>
            Challenge: Stats Preview
        </mat-card-header>
            <img mat-card-image src="https://user-images.githubusercontent.com/58942941/116417411-d007b600-a86d-11eb-8a71-80745d0a7685.png">
        <mat-card-content>
            <p class="body-1">RWD - Frontend Mentor Challenge</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="warn" href="https://adinashahira.github.io/stats-preview/" target="_blank">View</a>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3 class="mat-display-1">More coming soon!</h3>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h3 class="mat-display-1">More coming soon!</h3>
        </mat-card-content>
    </mat-card>
</div>
<mat-divider></mat-divider>